    <h3><%= link_to current_survey.title, current_survey %></h3>
    <%= form_for(@question, url: survey_question_path(current_survey, @question)) do |question_form| %>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="small-10 columns">
            <%= question_form.text_field :content %>
          </div>
          <div class="small-2 columns">
            <%= question_form.submit "Edit Question", class: "button postfix" %>
          </div>
        </div>
      </div>
      </div>
    <% end %>
    
    <%= render 'answers/new_answer', object: @newanswer %>
  
    <% if @answers.any? %>
      <%= render 'answers/edit', collection: @answers %>
    <% end %>