<center>
  <h1>Login</h1>
  <%= form_for(:session, url: login_path) do |form| %>
    <%= form.label :email %>
    <%= form.text_field :email %><br />
    
    <%= form.label :password %>
    <%= form.password_field :password %><br />
    
    <%= form.submit "Login Now" %>
  <% end %>
  <p>New user? <%= link_to "Sign Up", signup_path %></p>
</center>
