  <% provide(:title, "Sign in") %>
  
  <h1 class="subheader text-center">Sign in to Survey App</h1>
  <%= form_for(:session, url: signin_path) do |form| %>
  <div class="panel">
    <div class="row">
      <div class="large-12 columns">
        <%= form.text_field :email, :placeholder => "Email" %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.password_field :password, :placeholder => "Password" %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.submit "Sign In", class: "button expand radius small" %>
      </div>
    </div>
      <p class="text-center"><%= link_to "Create an account", signup_path %></p>
  </div>
  <% end %>
