<% provide(:title, "Sign up") %>

  <h1 class="subheader text-center">Create your Account</h1>
  <%= form_for(@user) do |form| %>
  <div class="panel">
    <%= render 'shared/error_messages' %>
    
   <div class="row">
      <div class="large-12 columns">   
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns"> 
          <%= form.label :email %>
          <%= form.text_field :email %>
      </div>
    </div>
   <div class="row">
      <div class="large-12 columns"> 
          <%= form.label :age %>
          <%= form.number_field :age, in: 1..100, step: 'any' %>
        </div>
    </div>
    
    <div class="row">
      <div class="large-6 columns">
        <label>Gender</label>
          <%= form.radio_button :sex, "1" %>
          <%= form.label :sex, "Male" %>
          <%= form.radio_button :sex, "0" %>
          <%= form.label :sex, "Female" %>
        </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
            <%= form.label :password, "Create a password" %>
            <%= form.password_field :password %> <br />
          </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= form.label :password_confirmation, "Confirm your password" %>
        <%= form.password_field :password_confirmation %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= form.submit "Sign Up", class: "button expand" %>
      </div>
    </div>
  </div>
  <% end %>
