<div class="row">
  <div class="small-5 columns">
    <ul class="no-bullet">
      <% if current_user?(@user) %>
          <li>Hello <span class="secondary label"><%= @user.name %></span></li>
        <% else %>
          <li><span class="secondary label"><%= @user.name %></span></li>
      <% end %>
      <li><%= @user.email %></li>
      <li>Age: <%= @user.age %></li>
      <li>Gender: <%= @user.sex %></li>
    </ul>
  </div>
  <div class="small-7 columns">
    <% if @user.surveys.any? %>
      <%= render 'shared/survey_admin_list' %>
    <% else %>
      <h3>Sorry, <%= @user.name %> doesn't have any surveys.</h3>
    <% end %>
    <% if current_user?(@user) %>
        <%= link_to "Create a new survey", root_url, class: "button" %>
    <% end %>
  </div>
</div>