          <div class="text-center panel">
          <%= form_for(current_survey) do |survey_form| %>
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <%= survey_form.text_field :title %>
                </div>
                <div class="small-2 columns">
                  <%= survey_form.submit "Edit Survey Title", class: "button postfix" %>
                </div>
              </div>
            </div>
            </div>
          <% end %>
          <%= link_to "Make new survey", root_url, class: "button" %>
          <%= link_to "Activate survey", '#', class: "button disabled" %>
          </div>

          <%= render 'questions/new_question', object: @makenewquestion %>

          <% @questions.each do |question| %>
          <div class="panel">
            <ul>
              <li>
                <%= question.content %> 
                [<%= link_to "Edit Question", survey_survey_item_path(current_survey, question) %>]
                [<%= link_to "Delete Question", survey_question_path(current_survey, question), 
                                      method: :delete,
                                        data: {confirm: "Are you sure?"}%>]
                <% if question.answers.any? %>
                  <ul>
                  <% @answers = question.answers %>
                  <%= render 'answers/answer_list', 
                                                collection: @answers %>
                  </ul>
                <% end %>
              </li>
            </ul>
          </div>
          <% end %>