          <div class="text-center panel">
          <%= form_for(current_survey) do |survey_form| %>
          <div class="row">
            <div class="large-12 columns">
                 <%= survey_form.label :title, "Current survey title" %>
              <div class="row collapse">
                <div class="small-10 columns">
                  <%= survey_form.text_field :title %>
                </div>
                <div class="small-2 columns">
                  <%= survey_form.submit "Edit Survey Title", class: "button postfix" %>
                </div>
              </div>
            </div>
            </div>
          <% end %>
          <%= link_to "Make new survey", root_url, class: "button" %>
          <%# link_to "Activate survey", '#',
                      method: :create, class: "button disabled" %>
          </div>

          <%= render 'questions/new_question', object: @makenewquestion %>

          <% @questions.each do |question| %>
          <div class="panel">
            <ul>
              <li>
                <%= question.content %>
                <% if question.answers.any? %>
                  <ul>
                  <% @answers = question.answers %>
                  <%= render 'answers/answer_list', 
                                                collection: @answers %>
                  </ul>
                <% end %>
              </li>
            </ul>
            <ul class="button-group radius">
              <li><%= link_to "Edit Question", survey_survey_item_path(current_survey, question),
                                                class: "button tiny" %></li>
              <li><%= link_to "Delete Question", survey_question_path(current_survey, question), 
                                                  method: :delete,
                                                  data: {confirm: "Are you sure?"},
                                                  class: "button tiny" %></li>
              <li><%= link_to "Activate Question", question_vote_items_path(question.id), 
                                            method: :create,
                                            class: "button tiny success" %></li>
              <li><%= link_to "Deactivate Question", question_vote_item_path(question.id, 1), 
                                            method: :delete,
                                            data: {confirm: "Are you sure?"},
                                            class: "button tiny" %></li>
            </ul>
          </div>
          <% end %>