<% # AREA FOR EDITING A PARTICULAR SURVEY %>
          <% ################################################################ %>
          <% # Start Edit the survey title %>
          <% ################################################################ %>
          <div class="text-center panel">
          <%= form_for(@survey) do |survey_form| %>
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <%= survey_form.text_field :title %>
                </div>
                <div class="small-2 columns">
                  <%= survey_form.submit "Edit Survey Title", class: "button postfix" %>
                </div>
              </div>
            </div>
            </div>
          <% end %>
          <%= link_to "Make new survey", root_url, class: "button" %>
          <%= link_to "Activate survey", '#', class: "button" %>
          </div>
          <% ################################################################ %>
          <% # End Edit the survey title %>
          <% ################################################################ %>
          <% ################################################################ %>
          <% # Start display survey questions %>
          <% ################################################################ %>
          <% @questions.each do |question| %>
          <div class="panel">
            <ul>
              <li>
                <%= question.content %> [<%= link_to "Edit Question", survey_question_path(@survey.id, question.id) %>]
                <% if question.answers.any? %>
                  <ul>
                  <% @answers = question.answers %>
                  <%= render 'survey_items/survey_item', 
                                                collection: @answers %>
                  </ul>
                <% end %>
              </li>
            </ul>
          </div>
          <% end %>
          <% ################################################################ %>
          <% # End display survey questions %>
          <% ################################################################ %>
          <% ################################################################ %>
          <% # Stat add a question %>
          <% ################################################################ %>
          <%= render 'survey_items/new', object: @makenewquestion %>
          <% ################################################################ %>
          <% # End Add a question %>
          <% ################################################################ %>
        