<% # AREA FOR EDITING A PARTICULAR SURVEY %>
<div class="text-center panel">
        <% 
          # Allow the user to edit the title if needed and submit the change via
          # update method. Add a save title button or something similar.
          # Similarly, display the questions beneath via a form.
           %>
          <% # SHOW SURVEY TITLE %>
          <%= form_for(@survey) do |form| %>
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <%= form.text_field :title %>
                </div>
                <div class="small-2 columns">
                  <%= form.submit "Edit Title", class: "button postfix" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% # SHOW SurveyItems %>
            <%= link_to "Add Question", '#', class: "button" %>
            <%= link_to "Add Answer", '#', class: "button" %>
          <p>
          <%= link_to "Make new survey", root_url, class: "button" %>
          </p>
</div>