<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Survey-App" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Survey App", root_path %></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% if signed_in? %>
          <!-- Start menu item shown only if signed in -->
            <li class="divider"></li>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Friends", '#' %></li>
            <li class="divider"></li>
            <li><%= link_to "Settings", '#' %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign out", signout_path, method: :delete, class: "button" %></li>
          <!-- END menu item shown only if signed in -->
          <% else %>
            <li class="divider"></li>
            <li><%= link_to "Sign in", signin_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
  <div class="row">
    <div class="small-6 large-centered columns">
      <%= yield %>
      <% if Rails.env.development? %>
        <span class="alert label">Development Environment Output:</span>
        <div class="panel">
          <%= debug(params) %>
        </div>
      <% end %>
    </div>
  </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>